<!DOCTYPE html>
<html lang="en">

<head>
    <title>Retro tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Retro tool</h1>
            <p>
                Explaination of the retro tool here
            </p>
        </div>
        <div class="col-md-5 justify-content form-group">
            <h2>Pick your game</h2>
            <div class="col-md-5">
                <select id="games" class="form-control" name="games">
                    <option value="starfish">Starfish</option>
                    <option value="sailboat">Sailboat</option>
                    <option value="5ls">5Ls</option>
                </select>
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary form-control" onclick="NewGameButtonClicked()">Host a new
                    game </button>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-2 justify-content form-group">
            <h2>Or join with a code!</h2>
            <div class="col-md-5">
                <input type="text" class="form-control" id="userBuzzword" placeholder="Code">
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary form-control"
                    onclick="JoinWithBuzzwordButtonClicked()">Join!</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/cookies.js"></script>
    <script src="scripts/utils.js"></script>
    <script>
        function NewGameButtonClicked() {
            $.ajax({
                url: "/game/new",
                type: "POST",
                data: JSON.stringify({ game: $('#games').val() }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    console.log(result);
                    $("body").html(result);
                },
            })
        }
        function JoinWithBuzzwordButtonClicked() {
            $.ajax({
                url: "/game/join",
                type: "POST",
                data: JSON.stringify({ buzzword: $('#userBuzzword').val() }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    if (result.valid) {
                        setCookie("buzzword", result.buzzword, 1)
                        $.ajax({
                            url: "/game/new",
                            type: "POST",
                            data: JSON.stringify({ game: result.game }),
                            contentType: "application/json; charset=utf-8",
                            success: function (result, status) {
                                console.log(result);
                                setCookie("isOwner", false, 1);
                                $("body").html(result);
                            },
                        });
                    } else {
                        alert(result.buzzword + " is an invalid code");
                    }
                },
            })
        }
        $(document).ready(function () {
            var userId = getCookie("userid")
            if (userId == "") {
                userId = newGuid();
                setCookie("userid", userId, 1);
            }
        });
    </script>
</body>

</html>