<body>
    <div class="container-fluid mx-auto justify-content-center w-75" style="height: 100vh">
        <div class="container-fluid my-5">
            <div class="row">
                <div class="col-md-4 mx-2">
                    <img src="./images/sailboat.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col">
                    <h1 class="display-5 fw-bold">Sailboat retrospective</h1>
                    <h4 class="py-4">Code for joining:
                        <label class="label label-primary" id="gameBuzzword">Buzzword here</label>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="anchorDiv" class="col-md-3 bg-light list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="anchorLabel">Anchors</label></h3>
                <div class="list-group px-3 py-2 w-100" id="anchorList">
                </div>
                <div class="hstack gap-2 mx-1 py-3">
                    <input type="text" class="form-control  me-auto" id="anchorInput">
                    <button type="submit" class="btn btn-primary" onclick="anchorBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="rocksDiv" class="col-md-3 bg-light list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="rocksLabel">Rocks</label></h3>
                <div class="list-group px-3 py-2 w-100" id="rocksList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="rocksInput">
                    <button type="submit" class="btn btn-primary" onclick="rocksBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="windDiv" class="col-md-3 bg-light list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="windLabel">Wind</label></h3>
                <div class="list-group px-3 py-2 w-100" id="windList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="windInput">
                    <button type="submit" class="btn btn-primary" onclick="windBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="goalDiv" class="col bg-light list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="goalLabel">Goal</label></h3>
                <div class="list-group px-3 py-2 w-100" id="goalList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="goalInput">
                    <button type="submit" class="btn btn-primary" onclick="goalBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="endGameDiv" class="col-md-2 bg-light border border-warning mt-5 px-4 py-4 rounded-3 ">
                <h3><label class="label label-warning" id="endGameLabel">End game</label></h3>
                <button class="btn btn-danger mx-4 mb-4" type="submit" onclick="endGameBtnClicked()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                        <path fill-rule="evenodd"
                            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- Modal code based on: https://getbootstrap.com/docs/5.1/components/modal/ -->
    <div class="modal fade" id="entryEditModal" tabindex="-1" aria-labelledby="entryEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="entryEditModalLabel">Edit entry</h5>
                    <button type="button" class="btn-close" aria-label="Close" onclick=editEntryModalClose()></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="entry-text" class="col-form-label">Entry:</label>
                            <textarea class="form-control" id="modal-edited-entry-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick=editEntryModalClose()>Close</button>
                    <button type="button" class="btn btn-primary" onclick=editEntryModalSend()>Edit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="./scripts/cookies.js"></script>
    <script>
        function anchorBtnClicked() {
            newEntryBtnClicked("anchor", $("#anchorInput").val());
        }
        function rocksBtnClicked() {
            newEntryBtnClicked("rocks", $("#rocksInput").val());
        }
        function windBtnClicked() {
            newEntryBtnClicked("wind", $("#windInput").val());
        }
        function goalBtnClicked() {
            newEntryBtnClicked("goal", $("#goalInput").val());
        }
        function startDoingBtnClicked() {
            newEntryBtnClicked("startDoing", $("#startDoingInput").val());
        }
        $(document).ready(function () {
            var gameType = setCookie("gameType", "sailboat", 1);
            var buzzword = getCookie("buzzword")
            if (buzzword == "") {
                requestNewBuzzword();
            } else {
                setBuzzwordLabel(buzzword);
                checkIfUserIsOwner();
            }
            $('#endGameDiv').hide();
            setCookie("intervalId", setInterval(function () {
                refreshCategory('anchor');
                refreshCategory('rocks');
                refreshCategory('wind');
                refreshCategory('goal');
                refreshCategory('startDoing');
                checkIfGameValid()
            }, 1000), 1);
        });
    </script>
</body>