<body>
    <div>Starfish</div>
    <div class="container-fluid bg-light" style="padding: 50px; height: 100vh">
        <h4>Your buzzword is: <label class="label label-primary" id="gameBuzzword">Buzzword here</label></h4>
        <div class="row">
            <div id="stopDoingDiv" class="col-md-2 list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="stopDoingLabel">Stop doing</label></h3>
                <div class="list-group px-3 py-2 w-100" id="stopDoingList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="stopDoingInput">
                    <button type="submit" class="btn btn-primary" onclick="stopDoingBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="lessOfDiv" class="col-md-2 list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="lessOfLabel">Less of</label></h3>
                <div class="list-group px-3 py-2 w-100" id="lessOfList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="lessOfInput">
                    <button type="submit" class="btn btn-primary" onclick="lessOfBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="keepDoingDiv" class="col-md-2 list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="keepDoingLabel">Keep doing</label></h3>
                <div class="list-group px-3 py-2 w-100" id="keepDoingList">
                </div>
                <div class="hstack gap-2 px-3">
                    <input type="text" class="form-control  me-auto" id="keepDoingInput">
                    <button type="submit" class="btn btn-primary" onclick="keepDoingBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="moreOfDiv" class="col-md-2 list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="moreOfLabel">More of</label></h3>
                <div class="list-group px-3 py-2 w-100" id="moreOfList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="moreOfInput">
                    <button type="submit" class="btn btn-primary" onclick="moreOfBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
            <div id="startDoingDiv" class="col-md-2 list-group border border-secondary rounded mx-1">
                <h3><label class="label label-primary px-3 py-2 mt-2" id="startDoingLabel">Start doing</label></h3>
                <div class="list-group px-3 py-2 w-100" id="startDoingList">
                </div>
                <div class="hstack gap-2 px-3 py-3">
                    <input type="text" class="form-control  me-auto" id="startDoingInput">
                    <button type="submit" class="btn btn-primary" onclick="startDoingBtnClicked()"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="endGameDiv" class="col-md-2 border border-warning mt-5 px-4 py-4 rounded-3 ">
                <h3><label class="label label-warning" id="endGameLabel">End game</label></h3>
                <button class="btn btn-danger mx-4 mb-4" type="submit" onclick="endGameBtnClicked()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                        <path fill-rule="evenodd"
                            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    //Modal code based on: https://getbootstrap.com/docs/5.1/components/modal/
    <div class="modal fade" id="entryEditModal" tabindex="-1" aria-labelledby="entryEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="entryEditModalLabel">Edit entry</h5>
                    <button type="button" class="btn-close" aria-label="Close" onclick=editEntryModalClose()></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="entry-text" class="col-form-label">Entry:</label>
                            <textarea class="form-control" id="modal-edited-entry-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick=editEntryModalClose()>Close</button>
                    <button type="button" class="btn btn-primary" onclick=editEntryModalSend()>Edit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="./scripts/cookies.js"></script>
    <script>
        function rerouteToMain() {
            clearInterval(getCookie('intervalId'));
            setCookie('buzzword', "", -1);
            setCookie('isOwner', "", -1);
            setCookie('intervalId', "", -1);
            alert("Session no longer exists, you will be redirected to the main page now");
            location.reload();
        }
        function checkIfGameValid() {
            $.ajax({
                url: "/game/getIsGameValid",
                type: "POST",
                data: JSON.stringify({ buzzword: getCookie('buzzword') }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    if (!result.isGameValid) {
                        rerouteToMain();
                    }
                },
            })
        }
        function endGameBtnClicked() {
            $.ajax({
                url: "/game/endGame",
                type: "POST",
                data: JSON.stringify({ buzzword: getCookie('buzzword'), user: getCookie('userid') }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    rerouteToMain();
                },
            })
        }
        function entryDelBtnClicked(event) {
            console.log(event.currentTarget.id)
            entryId = $('#' + event.currentTarget.id).attr('entryId')
            $.ajax({
                url: "/game/deleteEntry",
                type: "POST",
                data: JSON.stringify({
                    buzzword: getCookie('buzzword'),
                    entryId: entryId,
                    user: getCookie('userid')
                }),
                contentType: "application/json; charset=utf-8",
            });
        }
        function entryEditBtnClicked(event) {
            entryId = $('#' + event.currentTarget.id).attr('entryId')
            $('#entryEditModal').attr('entryId', entryId);
            $('#modal-edited-entry-text').text($('#' + entryId + 'p').text());
            $('#entryEditModal').appendTo("body").modal('show');
        }
        function editEntryModalClose() {
            $('#entryEditModal').modal("toggle");
        }
        function editEntryModalSend() {
            $.ajax({
                url: "/game/editEntry",
                type: "POST",
                data: JSON.stringify({
                    buzzword: getCookie('buzzword'),
                    entryId: $('#entryEditModal').attr('entryId'),
                    contents: $('#modal-edited-entry-text').val(),
                    user: getCookie('userid')
                }),
                contentType: "application/json; charset=utf-8",
            });
            editEntryModalClose();
        }

        function refreshCategory(category) {
            $.ajax({
                url: "/game/getCategoryEntries",
                type: "POST",
                data: JSON.stringify({
                    buzzword: getCookie('buzzword'),
                    category: category,
                    user: getCookie('userid')
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    //console.log(result.type);
                    if (result.isGameValid) {
                        $("#" + category + 'List').empty();
                        result.entries.forEach(element => {
                            console.log("Element")
                            if (element.madeByUser) {
                                $("#" + category + 'List').append(
                                    '<div class="list-group-item py-1 bg-light text-dark d-flex flex-row" style="width: 100%" id="' + element.id + '">'
                                    + '<div class="col-md-10">'
                                    + '<p class="text-break mt-2" id="' + element.id + 'p">' + element.contents + '</p>'
                                    + '</div>'
                                    + '<div class="vstack col">'
                                    + '<button id="' + element.id + 'DelBtn" entryId="' + element.id + '" class="btn btn-outline-danger " onClick=entryDelBtnClicked(event)>'
                                    + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">'
                                    + '<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>'
                                    + '<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>'
                                    + '</svg>'
                                    + '</button>'
                                    + '<button id="' + element.id + 'EditBtn" entryId="' + element.id + '" class="btn btn-light " onClick=entryEditBtnClicked(event)>'
                                    + '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">'
                                    + '<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>'
                                    + '</svg>'
                                    + '</button>'
                                    + '</div>'
                                    + '</div>');
                            } else {
                                $("#" + category + 'List').append('<div class="list-group-item py-1" style="width: 100%" id="'
                                    + element.id + '"><p class="text-break mt-2">'
                                    + element.contents + '</p></div>');

                            }
                        });
                    }
                },
            })
        }

        function newEntryBtnClicked(category, contents) {
            if (contents == '') {
                return;
            }
            $.ajax({
                url: "/game/newEntry",
                type: "POST",
                data: JSON.stringify({
                    buzzword: getCookie('buzzword'),
                    category: category,
                    contents: contents, user: getCookie('userid')
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    //console.log(result);
                    $('#' + category + 'Input').val('');
                    refreshCategory(result.category);
                },
            })
        }

        function stopDoingBtnClicked() {
            newEntryBtnClicked("stopDoing", $("#stopDoingInput").val());
        }
        function lessOfBtnClicked() {
            newEntryBtnClicked("lessOf", $("#lessOfInput").val());
        }
        function keepDoingBtnClicked() {
            newEntryBtnClicked("keepDoing", $("#keepDoingInput").val());
        }
        function moreOfBtnClicked() {
            newEntryBtnClicked("moreOf", $("#moreOfInput").val());
        }
        function startDoingBtnClicked() {
            newEntryBtnClicked("startDoing", $("#startDoingInput").val());
        }
        function setBuzzwordLabel(buzzword) {
            $("#gameBuzzword").text(buzzword);
        }
        function refreshAdminPanel() {
            $('#endGameDiv').hide();
            if (getCookie("isOwner") == 'true') {
                $('#endGameDiv').show();
            }
        }
        function checkIfUserIsOwner() {
            $.ajax({
                url: "/game/checkIfUserIsOwner",
                type: "POST",
                data: JSON.stringify({
                    buzzword: getCookie("buzzword"),
                    user: getCookie('userid')
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    setCookie("isOwner", result.isOwner, 1);
                    refreshAdminPanel();
                },
            });
        }
        function requestNewBuzzword() {
            $.ajax({
                url: "/game/requestBuzzword",
                type: "POST",
                data: JSON.stringify({
                    game: 'starfish',
                    user: getCookie('userid')
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result, status) {
                    //console.log(result);
                    setBuzzwordLabel(result.buzzword);
                    setCookie("buzzword", result.buzzword, 1)
                    checkIfUserIsOwner();
                },
            })
        }
        async function configureOwner() {
            requestNewBuzzword();
        }
        $(document).ready(function () {
            var buzzword = getCookie("buzzword")
            if (buzzword == "") {
                requestNewBuzzword();
            } else {
                setBuzzwordLabel(buzzword);
                checkIfUserIsOwner();
            }
            $('#endGameDiv').hide();
            setCookie("intervalId", setInterval(function () {
                refreshCategory('stopDoing');
                refreshCategory('lessOf');
                refreshCategory('keepDoing');
                refreshCategory('moreOf');
                refreshCategory('startDoing');
                checkIfGameValid()
            }, 1000), 1);
        });
    //TODO: allow users to thumb-up entries (once)
    </script>
</body>